modal-insertion-fields {
    .content {
        position: relative;

        textarea {
            height: 30vh;
        }

        text-align: center;

        button {
            margin: 16px;
        }
    }
}
